{% extends 'base.html' %}
{% load static %}
{% block title %}Administrativo{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Panel Administrativo</h2>

    <!-- Botones principales -->
    <div class="row mb-5">
        <div class="col-md-4">
          <a href="{% url 'gestionar_empleados' %}" class="btn btn-primary w-100 py-3">Gestionar Empleados</a>
        </div>
        <div class="col-md-4">
            <button class="btn btn-secondary w-100 py-3">Configurar Servicios</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-info w-100 py-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#reportesFinancieros">
                Reportes Financieros
            </button>
        </div>
    </div>

    <!-- Resumen visual de cada botón -->
    <div class="row text-center">
        <div class="col-md-4">
            <div class="p-3 border rounded">
                <h5>Empleados</h5>
                <p class="display-4">12</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 border rounded">
                <h5>Servicios</h5>
                <p class="display-4">8</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 border rounded">
                <h5>Reportes</h5>
                <p class="display-4">5</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}