{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/listaCliente.css' %}">
{% block title %}Inicio{% endblock %}

{% block content %}

<section>

    <h1 class="LC-h1">Clientes Registrados</h1>

    <div class="container">
        {% for cliente in clientes %}
            <div class="card">
                <div class="card-title">
                    {{ cliente.nombre }} {{ cliente.apellido }}
                </div>

                <div class="card-item"><strong>Sexo:</strong> {{ cliente.sexo }}</div>
                <div class="card-item"><strong>Teléfono:</strong> {{ cliente.n_telefono }}</div>
                <div class="card-item"><strong>Email:</strong> {{ cliente.email }}</div>
            </div>
        {% empty %}
            <p class="no-clientes">No hay clientes registrados.</p>
        {% endfor %}
    </div>

</section>
{% endblock %}
